.HomePage {
}

.Homepage__splash {
  padding-top: 60px;
  background-image: url("../../assets/mainBackground.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Homepage__splash__transparent {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.HomePage__splash__wrapper {
  z-index: 2;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.Homepage__splash__title {
  font-size: 2.5rem;
}

.Homepage__splash__subtitle {
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 30px;
}

.Homepage__splash__button {
  font-size: 1.3rem !important;
}

.Homepage__splash__follow {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.Homepage__section .pageWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px 30px;
  color: white;
}

.Homepage__section h1 {
  color: #e9b478;
  text-transform: uppercase;
}

.Homepage__section p {
  text-align: justify;
}

.Homepage__section:nth-child(even) {
  background: linear-gradient(to right, #533341);
}

.Homepage__section:nth-child(odd) {
  background: linear-gradient(to right, #a66a4e, #7a4b3b);
}

.Homepage__section__description {
  flex: 1 1 300px;
  padding: 30px 50px;
}

.Homepage__section__image {
  flex: 1 1 300px;
  align-self: center;
}

.Homepage__section__image img {
  max-width: 100%;
  padding: 15px 15px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  transform: rotate(-7deg);
}

.Homepage__section__final {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.roadmap-active {
}
