.CardItem {
  width: 220px;
  border-radius: 5px;
  margin: 20px 5px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 6px;
  margin: 0 10px 8px 10px; */
}

.CardItem,
.CardItem > div {
  border: 1px gray solid;
}

.CardItem__image {
  position: relative;
  background: #3e222e;
  margin: 0;
  padding: 0;
}

.CardItem__image img {
  max-width: 100%;
}

.CardItem__image__title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0px;
  left: 0px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 7px;
}

.CardItem__image__logo {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.CardItem__owner {
  padding: 8px;
  text-transform: uppercase;
  background: #009c95;
  text-align: center;
  font-weight: bold;
}

.CardItem__details {
  display: flex;
  padding: 10px;
}

.CardItem__details > div {
  flex: 1;
}

.CardItem__details__item {
  padding: 5px 0;
}

.CardItem__details__item__header {
  font-weight: bold;
}

.CardItem__footer {
  padding: 8px;
  text-align: center;
}
