.svgMap {
  width: 100%;
}

.svgMap__popup {
  z-index: 999999;
}

.svgMap__hoverPopup {
  background: rgba(40, 129, 170, 0.912);
  border-radius: 8px;
  font-size: 13px;
  padding: 10px;
  max-width: 200px;
}

.svgMap__hoverPopup span{
  font-size: 14px;
  font-weight: bold;
}
