.svgMap {
  width: 100%;
}

.svgMap__popup {
  z-index: 999999;
}

.svgMap__hoverPopup {
  background: rgba(40, 81, 170, 0.912);
  border-radius: 8px;
  font-size: 12px;
  padding: 10px;
  width: 100px;
}
