.TOSPage {
  background: linear-gradient(to right, #a66a4e, #7a4b3b);
}

.TOSPage .pageWrapper {
  margin: 0 auto;
  padding: 40px 20px;
}

.TOSPage__header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.TOSPage__header h1,
.TOSPage__header h3,
.TOSPage__header i {
  color: #e9b478;
}

.TOSPage__content {
  text-align: justify;
  font-size: 1.2rem;
  color: white;
}
